<?xml version="1.0" encoding="utf-8" ?>

<server>
  <logging> <!--Put this first so that debugging info for server startup is shown-->
    <log-debug-info use="no" />
    <log-up-down use="yes" />
    <log-errors use="yes" />
    <log-requests use="no" />
  </logging>
  <details>
    <name>localhost</name>
    <admin-email>www@localhost</admin-email>
  </details>
  <files-cache use="yes">
    <max-files-cache>15</max-files-cache>
    <max-file-size>512 * 1024</max-file-size>
  </files-cache>
  <requests-cache use="yes">
    <max-requests-cache>30</max-requests-cache>
    <max-request-size>1024 * 1024</max-request-size>
  </requests-cache>
  <components>
    <built-in>
      <component name="parameter" module="pycoon.parameter" class="parameter" />
      <component name="read" module="pycoon.read" class="read" />
      <component name="when" module="pycoon.selectors.when_element" class="when" />
      <component name="otherwise" module="pycoon.selectors.otherwise_element" class="otherwise" />
      <component name="throw" module="pycoon.throw" class="throw" />
    </built-in>
    <matchers>
      <matcher name="uri" module="pycoon.matchers.uri_matcher" class="uri_matcher" />
      <matcher name="error" module="pycoon.matchers.error_matcher" class="error_matcher" />
    </matchers>
    <selectors>
      <selector name="browser-class" module="pycoon.selectors.browser_class_selector" class="browser_class_selector" />
      <selector name="browser" module="pycoon.selectors.browser_selector" class="browser_selector" />
      <selector name="resource-exists" module="pycoon.selectors.resource_exists_selector" class="resource_exists_selector" />
      <selector name="request-parameter" module="pycoon.selectors.request_parameter_selector" class="request_parameter_selector" />
      <selector name="request-header" module="pycoon.selectors.request_header_selector" class="request_header_selector" />
    </selectors>
    <generators>
      <generator name="file" module="pycoon.generators.xml_generator" class="xml_generator" />
      <generator name="xpath" module="pycoon.generators.xpath_generator" class="xpath_generator" />
      <generator name="xquery" module="pycoon.generators.xquery_generator" class="xquery_generator" backend="dbxml" />
      <generator name="swishe" module="pycoon.generators.swishe_generator" class="swishe_generator" />
      <generator name="aggregate" module="pycoon.generators.aggregate_generator" class="aggregate_generator" />
      <generator name="command" module="pycoon.generators.command_generator" class="command_generator" />
      <generator name="http" module="pycoon.generators.http_generator" class="http_generator" />
      <generator name="sql" module="pycoon.generators.sql_generator" class="sql_generator" backend="mysql" />
      <generator name="directory-list" module="pycoon.generators.directory_generator" class="directory_generator" />
      <generator name="request" module="pycoon.generators.request_generator" class="request_generator" />
    </generators>
    <transformers>
      <transformer name="xslt" module="pycoon.transformers.xslt_transformer" class="xslt_transformer" />
      <transformer name="command" module="pycoon.transformers.command_transformer" class="command_transformer" />
      <transformer name="sax-handler" module="pycoon.transformers.sax_handler_transformer" class="sax_handler_transformer" />
      <transformer name="etree" module="pycoon.transformers.etree_transformer" class="etree_transformer" />
    </transformers>
    <serializers>
      <serializer name="xml" module="pycoon.serializers.xml_serializer" class="xml_serializer" />
      <serializer name="html" module="pycoon.serializers.html_serializer" class="html_serializer" />
      <serializer name="xhtml" module="pycoon.serializers.xhtml_serializer" class="xhtml_serializer" />
      <serializer name="svg" module="pycoon.serializers.svg_serializer" class="svg_serializer" />
      <serializer name="pdf" module="pycoon.serializers.pdf_serializer" class="pdf_serializer" />
    </serializers>
  </components>
  <pipelines>
    <pipeline>
      <match type="error" error-code="404">
	<generate type="file" src="resources/not-found.xml" />
	<transform type="xslt" src="resources/error2html.xslt">
	  <parameter name="uri" value="{uri}" />
	</transform>
	<serialize type="xhtml" />
      </match>
      <match type="error" error-code="400">
	<generate type="file" src="resources/bad-request.xml" />
	<transform type="xslt" src="resources/error2html.xslt">
	  <parameter name="uri" value="{uri}" />
	</transform>
	<serialize type="xhtml" />
      </match>
      <match type="error" error-code="500">
	<generate type="file" src="resources/internal-error.xml" />
	<transform type="xslt" src="resources/error2html.xslt">
	  <parameter name="uri" value="{uri}" />
	  <parameter name="traceback" value="{traceback}" />
	</transform>
	<serialize type="xhtml" />
      </match>
    </pipeline>
  </pipelines>
</server>